@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:500,400,300);
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

.container {
  width: 100%;
  padding: 0; }

.row {
  margin: 0; }

h1 {
  color: #028C7E;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 35px; }

section {
  padding: 70px 0; }

.navbar {
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.24), 0 0px 2px 0px rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  font-weight: 400;
  background: #028C7E;
  height: 48px;
  max-height: 48px; }
  .navbar .navbar-header {
    margin-left: 5%; }
  .navbar #navbar {
    margin-right: 10%; }
  .navbar .nav-logo {
    max-height: 48px; }
  .navbar li {
    line-height: 16px;
    font-size: 14px; }

.navbar-inverse {
  border: none; }
  .navbar-inverse .navbar-toggle {
    border: 1px solid #fff; }
  .navbar-inverse .icon-bar {
    background-color: #fff; }
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background: #fff;
    border-color: #028C7E; }
    .navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
      background: #028C7E; }

.navbar, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar li a {
  min-height: 48px;
  height: 48px; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background: #028C7E;
  color: #fff;
  border-bottom: 2px solid #fff; }

.navbar-inverse .navbar-nav > li > a {
  color: #fff; }
.butterfly {
  background-image: url(/img/tour/butterfly.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 51px;
  width: 100%;
  margin: 50px 0; }

#live {
  background-color: #028C7E;
  color: #fff;
  padding-bottom: 70px; }
  #program h1, #contact h1, #footer h1 {
    color: #fff; }
#live h1{
  color:#fff;
}
#live  .square{
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.24), 0 0px 2px 0px rgba(0, 0, 0, 0.12);
  height: 120px;
  line-height: 120px;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.24), 0 0px 2px 0px rgba(0, 0, 0, 0.12);
  background-color: #fffffe;
  color:#028C7e;
  font-size:20px;
  text-align: center;
  
}
.live-person{
  font-weight:400;
}
.footer {
  padding-top:.5em;
  position:fixed;
  bottom:0;
  background-color: #028C7E;
  text-align: center;
  font-size: 12px;
  width: 100%;
  color: #fffffe; }
